LABEL_PREFIX=nl.mtak.docker-nsupdate-ddns.
DOMAIN=int.mtak.nl
REVERSE4_DOMAIN=10.in-addr.arpa
REVERSE6_DOMAIN=0.0.0.0.0.0.0.0.0.0.0.0.0.8.e.f.ip6.arpa
NAMESERVER=10.100.0.11
TSIG_NAME=dck1
TSIG_KEY=SyYXDCJ4kIs3qhvI=
DEFAULT_NETWORK=10.100.0.192/26
